# Laravel specific
/vendor/
/node_modules/
/public/build/

# Laravel runtime
/storage/*
!/storage/.gitignore
!/storage/app
!/storage/app/public
!/storage/framework
!/storage/framework/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/storage/logs/*.stack

# Laravel cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Laravel Env (private)
.env
.env.*.backup
.env.local

# Composer & NPM stuff
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

# IDE & OS garbage
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# Mac & Windows files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
*.cache
*.tmp

# PHPStorm generated
*.iml
/.phpunit.cache
/phpunit.xml

# Database
/database/*.sqlite

# Words export files (except words_uk.json which contains curated translations)
/public/exports/words/*.json
!/public/exports/words/words_uk.json
