# Laravel specific
/vendor/
/node_modules/
/public/build/

# Laravel runtime
/storage/*
!/storage/.gitignore
!/storage/app
!/storage/app/public
/storage/app/seo-m3-2-local/
/storage/app/seo-m4-local/
/storage/app/seo-m4-1-local/
/storage/app/seo-m5-local/
/storage/app/seo-m4-2-local/
/storage/app/seo-m6-local/
/storage/app/seo-m7-local/
/storage/app/seo-m8-local/
/storage/app/seo-m8-1-local/
/storage/app/seo-m9-local/
/storage/app/seo-m9-1-local/
!/storage/framework
!/storage/framework/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/storage/logs/*.stack

# Laravel cache
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Laravel Env (private)
.env
.env.*.backup
.env.local

# Composer & NPM stuff
composer.lock
package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

# IDE & OS garbage
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# Mac & Windows files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp
*.log
*.cache
*.tmp

# PHPStorm generated
*.iml
/.phpunit.cache
/phpunit.xml

# Database
/database/*.sqlite

database/dumps/
*.sql
*.sql.gz
*.dump

database/dumps/
*.sql
*.sql.gz
*.dump
